

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Josefin+Sans&family=Poppins&display=swap');

:root {
    --theme: #c71e40;
    --themeBlur: #3f06116b;
    --themeDark: #a61936;
}

/*
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
*/
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(./pic/parallax.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;
}


.nav-bar {
    background: rgb(255, 255, 255);
    backface-visibility: hidden;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.269);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar .container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .container .nav-brand {
    border: 1px solid var(--theme);
    font-size: 50px;
    font-weight: 700;
    display: grid;
    place-items: center;
    padding: 5px;
}
.nav-bar .container .nav-brand img {
    height: 80px;
}
.mobile-button {
    height: 50px;
    width: 50px;
    background: rgb(216, 216, 216);
    border-radius: 40px;
    display: none;
}
.nav-bar .container .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.nav-bar .container .nav-items .item.l {
    position: relative;
    white-space: nowrap;
}
.nav-bar .container .nav-items .item.l > a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    background: var(--theme);
    font-size: 18px;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.561);
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    min-width: 120px !important;
    text-align: center;
}
.nav-bar .container .nav-items .item:not(.item.lang) > a:hover {
    background: var(--themeDark);
}

.item.lang {
    padding: 0;
    height: 40px;
    width: 80px;
    background: var(--theme);
    overflow: hidden;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 8px;
    cursor: pointer;
    color: black;
}
.item.lang:hover {
    background: var(--theme);
}
.item.lang .language {
    z-index: 2;
    transition: 0.5s;
}
.item.lang .round {
    background: var(--themeBlur);
    height: 36px;
    aspect-ratio: 1;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    left: 2px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    transition: 0.5s;
}
.item.lang.en .round {
    left: 2px;
}
.item.lang.cn .round {
    left: calc(100% - 38px);
}
.item .language.lan1.active {
    color: white;
    font-size: 18px;
}
.item .language.lan2 {
    font-size: 70%;
    transform: translateX(-2px);
}
.item .language.lan2.active {
    color: white;
    font-size: 85%;
    transform: translateX(1px);
}


.nav-bar .container .nav-items .item ul {
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    background: var(--theme);
    width: 100%;
    text-align: center;
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
    transform-origin: top center;
    transition: 0.3s;
}
.nav-bar .container .nav-items .item ul li > a {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
}
.nav-bar .container .nav-items .item:hover ul {
    visibility: visible;
    transform: scaleY(1);
    opacity: 1;
}
.nav-bar .container .nav-items .item ul li > a:hover {
    background: rgba(0, 0, 0, 0.186);
}


.parallax-container {
    padding: 0 15%;
}
.parallax-container .content {
    text-align: justify;
    margin: 0px auto;
    font-size: 115%;
    line-height: 60px;
}



.bg-image {
    background-image: url(./pic/bg.jpg);
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.bg-image .welcome {
    text-transform: uppercase;
    font-size: 22px;
    color: rgb(232, 232, 232);
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
    font-weight: 700;
}


.item.lang {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.598);
    margin: 10px;
    transition: 0.2s;
}
.item.lang:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.598);
}

.item.lang, .nav-items .item {
    -webkit-tap-highlight-color: transparent;
}

.footer {
    background: #3c3c3c;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
}
.footer .part {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer .part:nth-child(2) {
    align-items: flex-start;
}

.services {
    background: linear-gradient(50deg, #03010282, #c71e4000), url(./pic/bg2.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100% !important;
    overflow: hidden;
}
.services h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: cadetblue;
    padding: 20px 0 100px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.499);
}
.services .serv-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}
.serv-container .image-part {
    width: 70vw !important;
    height: 600px !important;
    object-fit: cover;
    overflow: hidden;
    transition: 1s cubic-bezier(.6,.01,.4,1.44);
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50px);
}
.serv-container .image-part.arrived {
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
}
.serv-container .image-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
    overflow: hidden;
}
.serv-container .content-part {
    position: absolute;
    top: 50px;
    right: 0px;
    background: white;
    padding: 40px;
    height: 500px !important;
    width: 550px;
    line-height: 45px;
    font-size: 20px;
    transition: 0.75s cubic-bezier(.6,.01,.4,1.44);
    visibility: hidden;
    transition-delay: 0.25s;
    opacity: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.393);
}
.serv-container:nth-child(odd) .content-part {
    left: 0px;
}
.serv-container:nth-child(odd) .image-part {
    transform: translateX(33vw);
}
.serv-container:nth-child(odd) .image-part.arrived {
    transform: translateX(30vw);
}
.serv-container .content-part h2 {
    font-family: 'Hind Siliguri', sans-serif;
    text-transform: uppercase;
}
.serv-container .content-part .seeMor {
    position: absolute;
    right: 40px;
    text-decoration: none;
    color: rgb(35, 111, 63);
    transition: 0.25s;
    bottom: 10px;
}
.serv-container .content-part .seeMor:hover {
    letter-spacing: 2px;
}
.serv-container:nth-child(odd) .content-part.arrived {
    left: 100px;
    visibility: visible;
    opacity: 1;
}
.serv-container .content-part.arrived {
    right: 100px;
    visibility: visible;
    opacity: 1;
}

.about_us {
    background: linear-gradient(51deg, transparent, rgba(0, 0, 0, 0.59)), url(./pic/aboutbg.jpg);
    background-size: 130%;
    background-attachment: fixed;
    padding: 0 100px;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    width: 100% !important;
    overflow: hidden;
}
.about_us h1 {
    padding: 5px  20px;
    color: var(--theme);
    text-shadow: -1px 1px 20px #0000004a;
    width: min-content;
    white-space: nowrap;
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: 15px;
    background: #bed3c4;
}
.about_us h2 {
    padding: 10px 10px;
    padding-top: 30px;
    color: rgb(223, 255, 209);
    text-shadow: -1px 1px 20px #0000004a;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.abtUs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    width: 95%;
    min-width: 1000px;
    background: var(--theme);
    padding: 40px;
    margin-top: 20px;
    border-radius: 20px;
}
.company-name {
    width: 100%;
    font-size: 210%;
    color: rgb(201, 232, 255);
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.203); 
}
.company-name .established {
    font-size: 70%;
    color: rgb(197, 197, 197);
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.203); 
}
.company-address {
    font-size: 50%;
    letter-spacing: 2px;
}
.abtCard {
    position: relative;
    background: rgba(0, 0, 0, 0.302);
    overflow: hidden;
    border-radius: 10px;
}
.abtCard .head {
    padding: 15px 35px;
    background: rgba(0, 0, 0, 0.265);
    text-align: center;
    font-size: 22px;
    color: rgba(171, 255, 171, 0.508);
    text-transform: capitalize;
}
.abtCard .body {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 15px 10px;
    
    color: rgba(197, 197, 197, 0.864);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.company-type {
    color: rgb(173, 219, 170);
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 1px;
    width: 48%;
    min-width: 400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 15px;
}
.company-code {
    color: rgb(226, 226, 226);
}
.features {
    border-left: 3px solid rgba(119, 182, 144, 0.586);
    border-radius: 3px;
    width: 48%;
    position: relative;
    padding-left: 20px;
    color: rgb(215, 237, 255);
}
.features h3 {
    text-transform: uppercase;
    font-size: 150%;
}
.features_list {
    list-style-type: none;
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.features_list div {
    position: relative;
    width: 100%;
    padding: 5px 0px;
    font-size: 120%;
}
.features_list div::before {
    content: '';
    width: 10px;
    aspect-ratio: 2.5;
    border-left: 4px solid rgb(202, 255, 167);
    border-bottom: 4px solid rgb(204, 255, 169);
    position: absolute;
    transform: rotate(-45deg);
    left: -20px;
    top: 14px;
}

.contact_us {
    background: rgb(190, 211, 196);
    padding: 0 100px;
}
.contact_us h1 {
    padding: 5px  20px;
    color: var(--theme);
    text-shadow: -1px 1px 20px #0000004a;
    width: min-content;
    white-space: nowrap;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.wa-icon {
    height: 70px;
    display: block;
    width: min-content;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    background: rgb(23, 176, 92);
}
.wa-icon div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.wa-icon div img {
    width: 50px;
    object-fit: cover;
    border-radius: 10px;

}

.wa-icon div p {
    font-size: 25px;
    color: aliceblue;
}

.for-mobile {
    visibility: hidden;
}



.arrow {
    height: 40px;
    width: 40px;
    background: var(--theme);
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 40px;
    transition: 0.3s;
    border: 2px solid white;
    visibility: hidden;
}
.arrow::before {
    content: '';
    position: absolute;
    height: 10px;
    aspect-ratio: 1;
    top: 10px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px 3px 0 0;
}
.arrow::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 3px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: antiquewhite;
}
.arrow:hover {
    transform: scale(1.1);
}

.image-part.slider {
    overflow: hidden;
    position: relative;
}

.image-part.slider .slideFrame {
    height: 100%;
    transition: 0.5s;
    position: absolute;
    top: 0px;
    left: 0px;
}
.image-part.slider .slideFrame img {
    height: auto;
    object-fit: cover;
}


@media (max-width: 500px) {

    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 100%;
    }
    .nav-bar {
        height: 70px;
        position: fixed;
        width: 100%;
        z-index: 10000;
    }
    .nav-bar .container {
        width: calc(100% - 20px);
        position: relative;
    }
    .nav-bar .container .nav-brand {
        border: 1px solid var(--theme);
        font-weight: 700;
        display: grid;
        place-items: center;
        padding: 5px;
    }
    .nav-bar .container .nav-brand img {
        height: 50px;
    }
    .not-mobile {
        display: none !important;
    }
    .for-mobile {
        z-index: 9999999;
        visibility: visible;
        position: absolute;
        right: -20px;
        justify-self: flex-end !important;
    }
    .nav-bar .container .nav-items {
        position: fixed;
        background: #c71e402e;
        width: calc(100% - 70px);
        backdrop-filter: blur(2.5px);
        height: 100vh;
        flex-flow: column;
        top: 0px;
        left: calc( -1 * (100% - 70px));
        transition: 0.5s;
        border-radius: 0 20px 20px 0;
    }
    .nav-bar .container .nav-items.active {
        left: 0px;
    }
    .mobile-button {
        display: block;
        overflow: hidden;
        position: relative;
    }
    .mobile-button .mb {
        height: 5px;
        width: 30px;
        background: var(--theme);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        border-radius: 3px;
        transition: 0.5s;
    }
    .mobile-button .mb.mb1 {
        top: 40%;
    }
    .mobile-button .mb.mb2 {
        top: 60%;
    }
    .mobile-button.active .mb {
        top: 50%;
    }
    .mobile-button.active .mb.mb1 {
        transform: translate(-50%, -50%) rotate(135deg);
    }
    .mobile-button.active .mb.mb2 {
        transform: translate(-50%, -50%) rotate(-135deg);
    }

    .nav-bar .container .nav-items .item:not(.item.lang) {
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.404);
        min-width: 80%;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.269);
    }
    .nav-bar .container .nav-items .item:hover:not(.item.lang) {
        background: rgb(39, 106, 55);
    }
    
    .nav-bar .container .nav-items .item.lang {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.598);
    }
    .nav-bar .container .nav-items .item.lang:hover {
        transform: translateY(0px);
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.598);
    }
    .nav-bar .container .nav-items .item ul {
        border: 5px solid rgb(106, 39, 75);
        z-index: 5;
    }
    .nav-bar .container .nav-items .item ul li {
        padding: 10px 5px;
    }
    .nav-bar .container .nav-items .item:hover ul {
        transform: scaleY(1);
    }
    .nav-bar .container .nav-items .item ul li:hover {
        background: rgba(0, 0, 0, 0.186);
    }

    .parallax-container {
        padding: 0 10%;
    }
    .parallax-container .content {
        font-size: 100%;
        line-height: 30px;
    }
    
    .footer {
        gap: 20px;
    }
    .footer .part:nth-child(2) {
        align-items: center;
        text-align: center;
    }


    .services {

        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 50%;
    
    }
    .services h1 {
        font-size: 40px;
        padding: 20px 0 30px 0;
    }
    .services .serv-container {
        width: 100%;
        margin: 0 auto;
        position: relative;
        margin-bottom: 5px;
    }
    .serv-container .image-part {
        width: 95% !important;
        height: auto !important;
        margin: 0 auto;
        object-fit: cover;
        overflow: hidden;
        transition: 1s cubic-bezier(.6,.01,.4,1.44);
        visibility: hidden;
        opacity: 0;
        transform: translateX(0);
    }
    .serv-container .image-part.arrived {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
    .serv-container .image-part img {
        width: 100%;
        height: 100%;
    }
    .serv-container .content-part {
        position: relative;
        top: auto;
        right: auto;
        background: white;
        margin: 0 auto;
        padding: 20px;
        padding-bottom: 40px;
        height: auto !important;
        width: 85% !important;
        line-height: 30px;
        font-size: 15px;
        transform: translateY(0px);
    }
    .serv-container:nth-child(odd) .content-part {
        left: auto;
    }
    .serv-container:nth-child(odd) .image-part {
        transform: translateX(0);
    }
    .serv-container:nth-child(odd) .image-part.arrived {
        transform: translateX(0);
    }
    .serv-container .content-part .seeMor {
        right: 20px;
        bottom: 10px;
    }
    .serv-container .content-part .seeMor:hover {
        letter-spacing: 2px;
    }
    .serv-container:nth-child(odd) .content-part.arrived {
        left: auto;
        visibility: visible;
        opacity: 1;
    }
    .serv-container .content-part.arrived {
        transform: translateY(-50px);
        right: auto;
        visibility: visible;
        opacity: 1;
    }

    .about_us {
        background-size: 200%;
        background-attachment: fixed;
        padding: 0 0px;
        background-repeat: repeat;
        padding-bottom: 40px;
    }
    .about_us h1 {
        padding: 5px  20px;
        font-size: 40px;
        letter-spacing: 5px;
    }
    .about_us h2 {
        padding: 10px 10px;
        padding-top: 30px;
        color: rgb(223, 255, 209);
        text-shadow: -1px 1px 20px #0000004a;
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .abtUs {
        min-width: 300px;
        width: 90%;
        padding: 20px;
        opacity: 0.9;
        border-radius: 10px;
    }
    .company-name * {
        font-family: 'Josefin Sans', sans-serif !important;
        line-height: 150%;
    }
    .company-name {
        font-size: 30px !important;
        letter-spacing: 0px !important;
    }
    .company-name .established {
        font-size: 70%;
        font-weight: 600;
        letter-spacing: 1px;

    }
    .company-address {
        font-size: 50%;
        letter-spacing: 1px !important;
        padding: 10px 0;
    }
    .abtCard {
        width: 100% !important;
    }
    .abtCard .head {
        padding: 5px 15px !important;
        background: rgba(17, 83, 17, 0.265);
        text-align: center;
        font-size: 20px !important;
        text-transform: capitalize;
    }
    .abtCard .body {
        text-align: center;
        font-size: 22px !important;
        font-weight: 700;
        padding: 5px 0px !important;
    }
    .company-type {
        font-size: 120%;
        font-weight: 600;
        letter-spacing: 1px;
        width: 100% !important;
        min-width: 300px !important;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        gap: 15px;
    }
    .features {
        border-left:none !important;
        width: 100% !important;
        padding-left: 0px !important;
    }
    .features h3 {
        text-transform: uppercase;
        font-size: 150%;
    }
    .features_list {
        list-style-type: none;
        width: 100%;
        padding-left: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
    }
    .features_list div {
        position: relative;
        width: 100%;
        padding: 5px 0px;
        font-size: 120%;
    }
    .features_list div::before {
        content: '';
        width: 10px;
        aspect-ratio: 2.5;
        position: absolute;
        transform: rotate(-45deg);
        left: -20px;
        top: 14px;
    }

    .contact_us {
        background: rgb(190, 211, 196);
        padding: 10px 0px;
    }
    .contact_us h1 {
        padding: 5px  20px;
        text-shadow: -1px 1px 20px #0000004a;
        width: min-content;
        white-space: nowrap;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .wa-icon {
        height: 50px;
        padding: 10px;
        margin: 10px auto;
        border-radius: 10px;

    }
    .wa-icon div {
        gap: 10px;
    }
    .wa-icon div img {
        width: 30px;
        border-radius: 10px;
    }
    
    .wa-icon div p {
        font-size: 20px;
    }
    .bg-image {
        height: 400px;
        width: 100%;
        background-position-y: 65px;
    }
    .arrow {
        right: 10px;
        bottom: 10px;
        -webkit-tap-highlight-color: transparent;
    }

    .image-part.slider {
        min-height: 230px;
    }













}