

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Josefin+Sans&family=Poppins&display=swap');

/*
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(./pic/parallax.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;
}


.nav-bar {
    background: rgb(209, 245, 222);
    height: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.269);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar .container {
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .container .nav-brand {
    border: 1px solid;
    font-size: 50px;
    font-weight: 700;
    color: rgb(53, 129, 104);
}
.mobile-button {
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 40px;
    display: none;
}
.nav-bar .container .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.nav-bar .container .nav-items .item:not(.item.lang) {
    padding: 10px 15px;
    background: rgb(59, 160, 84);
    font-size: 18px;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.561);
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    min-width: 120px;
    text-align: center;
}
.nav-bar .container .nav-items .item:hover:not(.item.lang) {
    background: rgb(39, 106, 55);
}

.nav-bar .container .nav-items .item.lang {
    padding: 0;
    height: 40px;
    width: 80px;
    background: rgb(59, 160, 84);
    overflow: hidden;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 8px;
    cursor: pointer;
    color: black;
}
.nav-bar .container .nav-items .item.lang:hover {
    background: rgb(59, 160, 84);
}
.nav-bar .container .nav-items .item.lang .language {
    z-index: 2;
    transition: 0.5s;
}
.nav-bar .container .nav-items .item.lang .round {
    background: rgba(34, 84, 60, 0.741);
    height: 36px;
    aspect-ratio: 1;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    left: 2px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    transition: 0.5s;
}
.nav-bar .container .nav-items .item.lang.en .round {
    left: 2px;
}
.nav-bar .container .nav-items .item.lang.cn .round {
    left: calc(100% - 38px);
}
.nav-bar .container .nav-items .item .language.active {
    color: white;
    font-size: 18px;
}


.nav-bar .container .nav-items .item ul {
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    background: rgb(59, 160, 84);
    width: 100%;
    text-align: center;
    transform: scaleY(0);
    transform-origin: top center;
    transition: 0.3s;
}
.nav-bar .container .nav-items .item ul li {
    padding: 10px 5px;
}
.nav-bar .container .nav-items .item:hover ul {
    transform: scaleY(1);
}
.nav-bar .container .nav-items .item ul li:hover {
    background: rgba(0, 0, 0, 0.186);
}


.parallax-container {
    padding: 0 15%;
}
.parallax-container .content {
    text-align: justify;
    margin: 0px auto;
    font-size: 115%;
    line-height: 60px;
}



.bg-image {
    background-image: url("//nwzimg.wezhan.cn/contents/sitefiles2034/10171962/images/11078143.jpg");
    height: 400px;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-image .welcome {
    text-transform: uppercase;
    font-size: 22px;
    color: rgb(232, 232, 232);
    font-weight: 700;
}


.nav-bar .container .nav-items .item.lang {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.598);
    margin: 10px;
    transition: 0.2s;
}
.nav-bar .container .nav-items .item.lang:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.598);
}

.nav-bar .container .nav-items .item.lang, .nav-items .item {
    -webkit-tap-highlight-color: transparent;
}

.footer {
    background: #3c3c3c;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
}
.footer .part {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer .part:nth-child(2) {
    align-items: flex-start;
}


@media (max-width: 500px) {

    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: 100%;
    }
    .nav-bar {
        height: 70px;
        position: fixed;
        width: 100%;
        backdrop-filter: blur(2px);
        z-index: 10000;
    }
    .nav-bar .container {
        width: calc(100% - 20px);
        position: relative;
    }
    .nav-bar .container .nav-brand {
        font-size: 30px;
    }
    .nav-bar .container .nav-items {
        position: fixed;
        background: rgb(36 75 45 / 76%);
        width: calc(100% - 70px);
        backdrop-filter: blur(2.5px);
        height: 100vh;
        flex-flow: column;
        top: 0px;
        left: calc( -1 * (100% - 70px));
        transition: 0.5s;
        border-radius: 0 20px 20px 0;
    }
    .nav-bar .container .nav-items.active {
        left: 0px;
    }
    .mobile-button {
        display: block;
        overflow: hidden;
        position: relative;
    }
    .mobile-button .mb {
        height: 5px;
        width: 30px;
        background: rgb(31, 33, 74);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        border-radius: 3px;
        transition: 0.5s;
    }
    .mobile-button .mb.mb1 {
        top: 40%;
    }
    .mobile-button .mb.mb2 {
        top: 60%;
    }
    .mobile-button.active .mb {
        top: 50%;
    }
    .mobile-button.active .mb.mb1 {
        transform: translate(-50%, -50%) rotate(135deg);
    }
    .mobile-button.active .mb.mb2 {
        transform: translate(-50%, -50%) rotate(-135deg);
    }

    .nav-bar .container .nav-items .item:not(.item.lang) {
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.404);
        min-width: 80%;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.269);
    }
    .nav-bar .container .nav-items .item:hover:not(.item.lang) {
        background: rgb(39, 106, 55);
    }
    
    .nav-bar .container .nav-items .item.lang {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.598);
    }
    .nav-bar .container .nav-items .item.lang:hover {
        transform: translateY(0px);
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.598);
    }
    .nav-bar .container .nav-items .item ul {
        border: 5px solid rgb(39, 106, 55);
        z-index: 5;
    }
    .nav-bar .container .nav-items .item ul li {
        padding: 10px 5px;
    }
    .nav-bar .container .nav-items .item:hover ul {
        transform: scaleY(1);
    }
    .nav-bar .container .nav-items .item ul li:hover {
        background: rgba(0, 0, 0, 0.186);
    }

    .parallax-container {
        padding: 0 10%;
    }
    .parallax-container .content {
        font-size: 100%;
        line-height: 30px;
    }
    
    .footer {
        gap: 20px;
    }
    .footer .part:nth-child(2) {
        align-items: center;
        text-align: center;
    }














}